.fondoPrincipal {
    background-color: #F0B1CD;
}

.fondoSecundario {
    background-color: #C83A6C;
}

@media (max-width: 1100px){
    .publicidad{
        display: none;
    }
}

@media (min-width: 1100px) {
    .box1 {
      width: 15%;
    }
  
    .box2 {
      width: 85%;
    }
}

@media (max-width: 1100px) {
    .box1 {
      width: 100%;
    }
  
    .box2 {
      width: 100%;
    }
}

.imagenPublicidad{
    width: 100%;
    height: 12rem;
}

@media (max-width: 1100px){
    .orden {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x))
    }
}

@media (min-width: 1100px){
    .orden {
        flex: 1 0 0%;
    }
}

.filtro {
    border-radius: 10px;
    background-color: #C83A6C;
    padding: 5px 15px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}

.descripcion{
    font-size: 1.5rem;
}

.marcoPublicidad{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 1100px){
    .textoSlider{
        font-size: 50px;
        margin-bottom: 10rem;
    }
}

@media (min-width: 550px) and (max-width: 1099px){
    .textoSlider{
        font-size: 35px;
        margin-bottom: 5rem;
    }
}

@media (min-width: 550px){
    .textoDescripcion{
        font-size: x-large;
    }
}

.grillaContenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (min-width: 601px) and (max-width: 650px){
    .margen{
        margin-left: 100px
    }
}

@media (min-width: 651px) and (max-width: 765px){
    .margen{
        margin-left: 150px
    }
}

@media (min-width: 800px) and (max-width: 850px){
    .margen{
        margin-left: 100px;
    }
}

@media (min-width: 850px) and (max-width: 950px){
    .margen{
        margin-left: 150px;
    }
}

@media (min-width: 950px) and (max-width: 989px){
    .margen{
        margin-left: 200px;
    }
}

@media (min-width: 1000px) and (max-width: 1100px){
    .margen{
        margin-left: 100px;
    }
}