.imagenSlider {
    height: 10rem;
    padding: 5px;
}

.botonTarjeta {
    border: 1px #8F2546 solid;
    background-color: #FAE9F1;
    color: grey;
}

.botonTarjeta:hover {
    border: 1px #8F2546 solid;
    background-color: rgb(221, 114, 203);
    color: black;
}

.link {
    text-decoration: "none";
    color: #8F2546;
}

.tarjetaSlider {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 9rem;
    height: 20rem;
    background-color: #FAE9F1;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    word-wrap: break-word ;
}

@media (min-width: 1020px) {
    .custom-col-Slider {
        width: 20%;
        flex: 0 0 20%;
        margin-right: 20px;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: 651px) and (max-width: 900px) {
    .custom-col-Slider {
        width: 33%;
        flex: 0 0 33%;
        align-items: center;
        text-align: center;
    }

    .imagenSlider {
        height: 40%;
        padding: 2px;
    }

    .tarjetaSlider{
        height: 10rem;
        width: 6rem;
        padding: 5px;
        margin-bottom: 0px;
        margin-left: 15%;
        margin-top: 15px;
        align-items: center;
    }

    .tarjetaChicaSlider{
        display: none;
    }
}

@media (max-width: 650px){
    .tarjetaChicaSlider{
        display: none;
    }
    
    .tarjetaSlider{
        height: 10rem;
        width: 6rem;
        padding: 5px;
        margin-bottom: 0px;
        margin-left: 15%;
        margin-top: 15px;
        align-items: center;
    }
    
    .imagenSlider {
        height: 40%;
        padding: 2px;
    }
}

@media (max-width: 350px){
    .tarjetaChicaSlider{
        display: none;
    }
    
    .tarjetaSlider{
        height: 10rem;
        width: 6rem;
        padding: 5px;
        margin-top: 30px;
        margin-bottom: -20px;
        margin-left: 10px;
        align-items: center;
    }
    
    .imagenSlider {
        height: 4rem;
        padding: 2px;
    }
}