@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Junge&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --texto-titulo: "Hammersmith One", sans-serif;
    --texto-subtitulo:"Work Sans", sans-serif;
    --texto-parrafos:"Junge", cursive;

    --color-50:#FCF3F7;
    --color-100: #FAE9F1;
    --color-200: #F4C8DD;
    --color-300: #F0B1CD;
    --color-400: #E680AC;
    --color-500: #DB598D;
    --color-600: #C83A6C;
    --color-700: #AC2A54;
    --color-800: #8F2546;
    --color-900: #78233D;
    --color-950: #480F21;
}
h1,h2{
    font-family: var(--texto-titulo);
}
h3,h4,h5,h6,button{
    font-family: var(--texto-subtitulo);
}
p{
    font-family: var(--texto-parrafos);
}
